body{
    background-image: url("images/thanku_background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#randomString{
    background-color: rgba(255, 255, 255, 0.67);
    color: black;
    width: fit-content;
    border-radius: 20px;
    margin-left: 40px;
}