body{
    background-image: url("images/upload_page_background.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.submit{
    background-color: navy;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}
a{
    color: white;
}